# Dependencies
node_modules/
pnpm-lock.yaml
package-lock.json

# Build outputs
.next/
out/
dist/
build/

# Logs
*.log

# Environment files
.env*

# IDE files
.vscode/
.idea/

# Other
.git/
coverage/
*.min.js
*.min.css 